trigger:
  branches:
    include: [ main ]

variables:
  ACR_NAME: ''   # e.g. set in pipeline variable once TF outputs the real name

stages:
- stage: build
  jobs:
  - job: docker_build_push
    pool: { vmImage: 'ubuntu-latest' }
    steps:
    - task: AzureCLI@2
      displayName: "Docker build & push to ACR"
      inputs:
        azureSubscription: 'azure-oidc-conn'
        scriptType: bash
        scriptLocation: inlineScript
        inlineScript: |
          set -e
          cd DevOps/Projects/aks-terraform-helm-cicd/app
          IMAGE="$ACR_NAME.azurecr.io/orders-api:${BUILD_SOURCEVERSION:0:7}"
          az acr login -n $ACR_NAME
          docker build -t "$IMAGE" .
          docker push "$IMAGE"
          echo "##vso[task.setvariable variable=IMAGE_TAG]${BUILD_SOURCEVERSION:0:7}"

- stage: deploy
  dependsOn: build
  jobs:
  - deployment: helm_upgrade
    environment: aks-dev
    strategy:
      runOnce:
        deploy:
          steps:
          - task: AzureCLI@2
            displayName: "Helm upgrade --install"
            inputs:
              azureSubscription: 'azure-oidc-conn'
              scriptType: bash
              scriptLocation: inlineScript
              inlineScript: |
                set -e
                RG="devops.experiment"
                AKS="aks-demo"
                az aks get-credentials -g "$RG" -n "$AKS" --overwrite-existing
                # Set repo in values (quick patch, or keep values.yaml in sync)
                yq -i ".image.repository = \"$ACR_NAME.azurecr.io/orders-api\" | .image.tag = \"${IMAGE_TAG}\"" \
                  DevOps/Projects/aks-terraform-helm-cicd/app/charts/app/values.yaml
                helm upgrade --install orders \
                  DevOps/Projects/aks-terraform-helm-cicd/app/charts/app \
                  --namespace orders --create-namespace
